body {
  font-family: sans-serif;
  padding: 20px 20px 0;

}
.selectTdClass {
  background-color: #edf5fa !important;
}
table.noBorderTable td,
table.noBorderTable th,
table.noBorderTable caption {
  border: 1px dashed #ddd !important;
}
table {
  margin-bottom: 10px;
  border-collapse: collapse;
  display: table;
}
td,
th {
  padding: 5px 10px;
  border: 1px solid #ddd;
}
caption {
  border: 1px dashed #ddd;
  border-bottom: 0;
  padding: 3px;
  text-align: center;
}
th {
  border-top: 2px solid #bbb;
  background: #f7f7f7;
}
.ue-table-interlace-color-single {
  background-color: #fcfcfc;
}
.ue-table-interlace-color-double {
  background-color: #f7faff;
}
td p {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 99.9%;
}
li {
  clear: both;
}
.list-paddingleft-1 {
  padding-left: 1.2em;
}
.list-paddingleft-2 {
  padding-left: 2.2em;
}
.list-paddingleft-3 {
  padding-left: 3.2em;
}
